/*
 * colorscheme:
 * 69D2E7
 * A7DBD8
 * E0E4CC
 * F38630
 * FA6900
 * http://www.colourlovers.com/palette/92095/Giant_Goldfish
 */

#content {
    width: 320px;
    margin-top:45px;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    font-family: "Courier",monospace
}

.rectypes {
    display:none;
    border: 1px black solid;
    padding: 10px;
}

input {
    outline: none;
}
